:root {
    --my-blue: rgb(47, 0, 255);
    --light-blue:  rgb(25, 113, 255);
}

body {
    background-color: rgb(77, 127, 254);
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    text-align: center;
    margin: 50px;
}

button {
    font-family: "Pixelify Sans", sans-serif;
    font-size: large;
    color: white;
    padding: 5px 10px;
    border: var(--light-blue) 1px solid;
    background-color: var(--my-blue);
}

button:hover {
    background-color:var(--light-blue);
}

.sketch {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.block {
    width: 16px;
    height: 16px;
    margin: 1px;
}


.block-container {
    margin: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4px;
    border: 2px var(--my-blue) dashed;
}